/* PC */
@media (min-width: 64em) {

}

/* Tablet */ 
@media (min-width: 64em) and (max-width: 63.9375em) {
    .l-btn {
        
    }



}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-column-full {
        width: 100%;
    }

    .s-form-submit-btn {
        padding: 16px 0;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    .s-full-width {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    .nav-bar {
        display: block;
    }

    .nav-bar li {
        display: block;
    }

    .nav-bar > li:first-child {
        display: inline-block;
    }
    .nav-bar li a {
        display: block;
    }

    .nav-bar .sub-nav {
        position: initial;
        background-color: #333;
    }

    .nav-bar .sub-nav a {
        color: #fff;
        padding: 5px 40px;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-bar-btn {
        display: inline-block;
    }

    /* Content */

    /* Band */
    .content-section .members-list .member-item {
        width: 100%;
        margin-bottom: 16px;
    }

    /* Tickets */
    .tour-dates .tickets-list li {
        padding: 12px 16px;
    }

    .places-list .place-item {
        width: 100%;
        margin-bottom: 16px;
    }

    /* Contact */
    .contact-content .contact-form {
        margin-top: 24px;
    }

    /* Footer */

    #footer {
        padding: 0;
    }

    #footer .copyright {
        padding-bottom: 20px;
    }

}